/*-- scss:defaults --*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');

/*-- scss:rules --*/

.navbar-logo {
    max-height: 35px;
    width: auto;
    padding-right: 7px;
}

//this suppresses the first column metadata
//in the default type of display in listing
//used on books page to suppress first column

.books-page div.quarto-post .metadata {
    display: none;
    flex-direction: column;
    font-size: .8em;
    font-family: Nunito, Mallanna;
    flex-basis: 33%;
}

//this suppresses the third column "author"
//in the table type of display in listing
//used on TIL page to suppress author column

.quarto-listing-table th:nth-child(3), td:nth-child(3) {
    display:none !important;
}

.til-table td {
    padding:0px 20px 10px 0px;
}