```{=html}
<div>
<% for (const item of items) { %>
<div class="exp-section">
        <div style="text-align:center; font-weight: bold;" class="grid exp-header">
            <div class="g-col-12 g-col-md-4 exp-org"><%= item.organization %></div>
            <div class="g-col-12 g-col-md-4 exp-period"><%= item.period %></div>
            <div class="g-col-12 g-col-md-4 exp-title"><%= item.title %></div>
           
        </div> 
    <div><%= item.details %></div>
</div> 
<% } %>
    
</div>
```