```{=html}
<div>
<% for (const item of items) { %>
    <b>
        <div style="text-align:center;">
            <span style="float:left"><%= item.organization %></span>
            <span style="float:right"><%= item.period %></span>
            <span style="text-align:center"><%= item.title %></span>
            <br><br>
        </div> 
    </b>
    <div><%= item.details %></div>
    <br>
<% } %>
    
</div>
```